@model  List<WebApplication1.Models.TreeViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="treeview">
                @Html.Partial("RenderTreeView", Model, new ViewDataDictionary { { "id", 0 } })
            </div>

       

        <button type="button" class="btn btn-success" id="show-values">Get Values</button>

        <pre id="values"></pre>

    </div>
</div>
@section scripts{
    <link type="text/css” rel=”stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/treeview.js"></script>
    <script src="~/Scripts/logger.js"></script>
    <script>

        $(document).ready(function () {
            console.log("trd");
          var tree =  $('#treeview').treeview({

                debug: true,

                data: ["10"]

            });
            console.log("trd 2");

            $('#show-values').on('click', function () {
              
                console.log($('#treeview-checkbox-demo').treeview('selectedValues'));
                
            });

            $("i").click(function () {
                _toggleCollapseCustom($(this));
           
            });
        });
    </script>
}

@{
    <style>
    </style>
}
